.App {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  min-height: 100vh;
  padding: 41px 52px 48px 48px;
}

.backButton {
  display: flex;
  align-items: center;
  margin-top: auto;
  gap: 19px;
}
