@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont.woff2") format("woff2"),
    url("../fonts/Montserrat-VariableFont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-VariableFont.woff2") format("woff2"),
    url("../fonts/Roboto-VariableFont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NunitoExtraBold";
  src: url("../fonts/Nunito-ExtraBold.woff2") format("woff2"),
    url("../fonts/Nunito-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
