@import "/src/assets/styles/variables";

.container {
  width: 100%;
  text-align: left;
  min-width: 990px;

  th,
  td {
    white-space: nowrap;
  }

  thead {
    .row {
      padding: 0 15px;
      border-left: 4px solid $mainBg;

      .tableHeader {
        button {
          height: 100%;
          padding-block: 10px;
          margin-right: 11px;
          text-align: left;
          text-transform: uppercase;
          color: $grey;
          font-size: 11px;
          line-height: 12.89px;
          font-weight: 500;
          cursor: default;
          font-family: Roboto, sans-serif;
        }
      }
    }
  }

  tbody {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .row {
      background-color: white;
      border-left: 4px solid pink;
      height: 70px;

      &:hover {
        box-shadow: 0px 0px 20px 0px #00000026;
      }
    }
  }

  .row {
    display: grid;
    grid-template-columns: 2fr 140px 140px 170px 140px;
    width: 100%;
    border-radius: 3px;
    padding: 0 11px;

    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .detailsButton {
        font-family: Montserrat, sans-serif;
        align-self: flex-end;

        &.draftButton {
          background-color: $darkGrey;
        }
      }
    }
  }
}
